@charset "utf-8";

body,
header,
div,
h1,
h2,
h3,
h4,
h5,
h6,
nav,
ul,
ol,
li,
address,
table,
thead,
tbody,
tfoot,
section,
p,
blockquote {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color:#333;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr,
legend,
caption {
    display: none;
}

fieldset,
button {
    border: 0;
}

em,
address {
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
th,
b {
    font-weight: normal;
    font-size: 1em;
}

th {
    text-align: left;
}

q::before,
q::after {
    content: "";
}

textarea {
    resize: none;
}